<h2>Danh sách</h2>
<p>Có {{sizeBook()}} cuốn sách</p>
<a [routerLink]="'/create'" class="btn btn-info">Create new product</a>
<hr>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tên sách</th>
    <th scope="col">Tác giả</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of products">
    <td>{{p.id}}</td>
    <td><a [routerLink]="'product/'+p.id">{{p.title}}</a></td>
    <td>{{p.author}}</td>
    <td>
      <button type="button" class="btn btn-outline-warning" [routerLink]="'/edit/'+p.id">Edit</button>
      <button type="button" class="btn  btn-outline-danger" (click)="delete(p.id)">Delete</button>
    </td>
    <td>
    </td>
  </tr>
  </tbody>
</table>
