
<form (ngSubmit)="updateProduct()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" [(ngModel)]="product.title" class="form-control" id="name" aria-describedby="" placeholder="">
  </div>
  <div class="form-group">
    <label for="name">Code</label>
    <input type="text" name="code" [(ngModel)]="product.author" class="form-control" id="code" aria-describedby="" placeholder="">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" [(ngModel)]="product.description" class="form-control" id="description" aria-describedby="" placeholder=""></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
